.gameContainer{
display:grid;
grid-template-columns: auto auto auto auto;
gap:10px;
justify-content: center;
align-items: center;
}
.card{
    height:100px;
    width:100px;
    background-color: rgb(209, 205, 205);
    /* margin-bottom: 10px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.hidden{
    visibility: hidden;
}